@import '../../index.scss';

.tour {
 background-color: $color-grey;
 margin-bottom: 1rem;
 &:last-child {
  margin-bottom: 0;
  }
  .tour-inner {
   @media screen and (min-width: 620px) {
   display: flex;
   }
  }
 span i {
  color: $color-green;
  cursor: pointer;
 }
 .img-container {
  position: relative;

  @media screen and (min-width: 620px) {
   width: 40%;
  }
  span > i {
   font-size: 1.4rem;
   position: absolute;
   top: 5%;
   right: 7%;
  }
  img {
   min-height: 12rem;
  }
 }
 .tour-info {
  padding: 0.5rem;

  @media screen and (min-width: 620px) {
   width: 55%;
  }
  h3 {
   color: $color-green;
   text-transform: uppercase;
   margin-bottom: 0.5rem;
  }
  h4 {
   text-transform: capitalize;
  }
  h5 {
   display: flex;
   align-items: center;
   margin: 0.7rem 0;
   span i {
    font-size: 1.2rem;
    margin-left: 0.4rem;
   }
  }
  p.toggle-text {
    font-size: 0.875rem;
   }
 }
}