*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-black: #222;
$color-green: #82b340;
$color-white: #fff;
$color-grey: #ececec;

$mainTransition: all 0.4s linear;

body {
  font-family: 'Raleway', sans-serif;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}


